/* SETUP */
@import url('setup/vars.css');
@import url('setup/typography.css');
/* BASICS */
@import url('basics/base.css');
@import url('basics/layout.css');
@import url('basics/helpers.css');

/* COMPONENTS */
@import url('components/toolbar.css');
@import url('components/canvas.css');
@import url('components/meme-selector.css');
@import url('components/main-header.css');  
@import url('components/share-download.css');
@import url('components/clear-modal.css');

/* MEDIA QUERIES - Must be last to override component styles */
@import url('setup/mq.css');


/* Text input overlay */
.edit-input {
    position: absolute;
    border: 2px solid #667eea;
    padding: 2px 5px;
    background: transparent;
    outline: none;
}

