@media (max-width: 800px) {
    body {
        background-color: rgb(132, 142, 248);
    }
    
    .main-layout {
        flex-direction: column !important;
    }
    
    .top-section {
        flex-direction: column !important;
    }
    
    .toolbar-download-share-container {
        width: 100% !important;
        flex: none !important;
    }
    
    .canvas-container {
        width: 100% !important;
        flex: none !important;
    }
    /*menu toggle (hamburger menu)*/
    .main-nav {
        display: grid;
        grid-template-rows: 0fr;
        align-content: end;
        align-items: end;
        position: absolute;
        background: linear-gradient(to right, #3B4FBF, #000000);
        top: calc(var(--main--header--height) + 20px);
        left: 0;
        right: 0;
        width: 100vw;
        overflow: hidden;
        transition: grid-template-rows .6s;
        z-index: 10002;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-nav-list {
        flex-direction: column;
        min-height: 0;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .main-nav-list > li {
        width: 100%;
        height: auto;
        border-right: none;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .main-nav-list > li:first-child {
        border-left: none;
    }
    .main-nav-list > li:last-child {
        margin-bottom: 10px;
    }

    .main-nav-list > li .nav-button {
        flex-basis: 100%;
        width: 80px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        background-color: rgb(255, 128, 0);
    }

    .main-nav-list > li .dropdown-menu {
        display: none !important;
    }

    .menu-toggle {
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10001 !important;
        order: 2;
        margin-left: auto;
        position: relative;
    }

    .menu-toggle span {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.3s;
    }

    /*cool hamburger x icon effect*/
    body.menu-open .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    body.menu-open .menu-toggle span:nth-child(2) {
        opacity: 0;
    }

    body.menu-open .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
}
