.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* list item helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}