.main-layout {
    display: flex;
    flex-direction: row;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(86, 90, 137);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    
}
body{
    background-color:rgb(132, 142, 248) ;
}