.canvas-container {
    flex: 1;
    min-width: 0;
    min-height: 600px;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #b1cfff;
    box-sizing: border-box;
    border-radius: 4px;
}

#canvasWrapper {
    position: relative;
    width: 100%;
}

#canvasWrapper canvas {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #333;
    background-color: white;
    cursor: crosshair;
}