.main-header {
    position: relative;
    z-index: 10000;
    height: calc(var(--main--header--height) + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, #3B4FBF, #000000);
}

.main-header .logo {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'chibi';
    margin-top: 20px;
    margin-bottom: 25px;
    color: rgb(255, 128, 0);
    font-weight:lighter;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.menu-toggle {
    display: none;
}

.nav-button{
    background-color: rgb(255, 128, 0);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 10px;
}

.main-nav-list{
    gap: 10px;
}